*.gem
*.rbc
.bundle
.config
.rvmrc
.ruby-version
.ruby-gemset
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
gemfiles/*.lock
